<form [formGroup]="loginPage">

        <!-- (submit)="onSubmit(loginPage)" -->



    <div class="login">
        <label for="login">Login</label>
        <input type="text" id="login" #log formControlName="login">
    </div>

    <div class="password">
        <label for="password">Password</label>
        <input type="text" id="password" #pass formControlName="password">
    </div>


    <div class="submit">
        <!-- <button [routerLink]="['/users']">Login</button> -->
        <button (click)="check(log.value, pass.value)">Login</button>
    </div>

</form>